* {
    box-sizing: border-box;
    --color1: rgba(242, 242, 255, 1);
    --color2: rgba(184, 221, 214, 1);
    --color3: rgba(91, 153, 149, 1);
    --color4: rgba(35, 87, 102, 1);
    --color5: rgba(29, 33, 63, 1);
    --hl-color: var(--color2);
    --accent-color: var(--color3);
    --fg-color: var(--color1);
    --bg-color: var(--color5);
    --border-color: var(--color3);
}

html, body {
    min-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    font: 16px "Helvetica Neue", Helvetica, Liberation;
}

a {
    font-style: oblique;
}

h1, h2, h3 {
    margin: 1ch 0;
}

header {
    width: 100%;
    padding: 2ch;
    margin: 0 0 1em;
}


body, main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin: 0;
    max-width: 100%;
}
section {
    margin: 0.5em 0;

}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 1ch;
    vertical-align: top;
    width: 30%;
}
caption {
    font-weight: bold;
    padding: 1ch;
}
td {
    border: 1px solid var(--border-color);
    text-align: left;
    hyphens: auto;
}

th {
    text-align: center;
}
th:first-child {    
    width: 10%;
    text-align: right;
}

dd, dt {
    padding: 0;
}
dl {
    margin: 0;
    padding: 0;
    width: 100%;
}

details {
    align-self: flex-start;
    margin: 0 0 0 2ch;
}
summary {
    
}

:target {
    background: var(--hl-color);
    color: var(--color2);
}


.major-root, derived-root {
    /* background: var(--color4); */
}

.major-root {
    /* box-shadow: 0px 1px 2px rgba(0,0,0,0.2); */
    /* border: 1px solid var(--border-color); */
}

.derived-root {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: flex-start;
}
.derived-root:nth-child(odd) {
    background: var(--color3);
    
}
.derived-root:nth-child(odd):target {
    background: var(--hl-color);
    color: var(--color2);
}

.glossary-item--root {
    font-weight: bold;
}
 .glossary-item--gloss {
    font-style: italic;
    font-weight: normal;
}
p.glossary-item--gloss {
    padding: 0;
    margin: 0;
}
h2.glossary-item--gloss {
    margin-left: 1ch;
}
h1.glossary-item--root ?{
    margin-left: 1ch;
}
.glossary-item--header {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.table-wrapper {
    display: flex;
    flex-direction: column;
}
.has-derived {
}
.has-derived header {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.page-header, .search-bar {
    background: var(--color4);
    color: var(--color1);
    z-index: 999;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
}
.page-header {
    display: grid;
    grid-template-columns: auto 66ch auto;
    border-bottom: 1px solid var(--border-color);
}
.page-header h1,
.page-header h2 {
    grid-column-start: 2;
}
.page-header h2 {
    font-style: oblique;
}
.search-bar {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    display: flex;
}
.form-group {
}
form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5ch 1ch;
    margin: 0 auto;
    width: 100%;
}

input, select, label {
    margin: 0.5ch;
}
input {
    flex-grow: 1;
}
input, select {
    border-radius: 2px;
    padding: 0.5ch;
    border: 1px solid var(--fg-color);
    background: var(--color2);
}

input, option {

}
@media (min-width: 600px) {
    main {
    	max-width: 70ch;
    }
    .major-root {
	/* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
    }
    table {
	width: calc(100% - 2ch);
	margin: auto 1ch;
    }
    form {
	max-width: 70ch;
    }
    
}
