* {
    box-sizing: border-box;
    --color1: rgba(240, 100, 73, 1);
    --color2: rgba(237, 230, 227, 1);
    --color3: rgba(218, 218, 217, 1);
    --color4: rgba(54, 56, 46, 1);
    --color5: rgba(91, 195, 235, 1);
    --hl-color: var(--color1);
    --accent-color: var(--color5);
    --fg-color: var(--color4);
    --bg-color: var(--color3);
    --border-color: var(--color3);
}
html, body {
    min-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--fg-color);
    font: 16px "Helvetica Neue", Helvetica, Liberation;
}
a{
    font-style: oblique;
}

h1, h2, h3 {
    margin: 1ch 0;
}
header {
    /* color: var(--bg-color); */
    /* background: var(--fg-color); */
    width: 100%;
    padding: 2ch;
    margin: 0 0 1em;
}
main, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin: 0.5em 0;
    border: 1px solid var(--border-color);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 1ch;
    vertical-align: top;
    width: 30%;
}
caption {
    font-weight: bold;
    padding: 1ch;
}
td {
    border: 1px solid var(--border-color);
    text-align: left;
    hyphens: auto;
}

th {
    text-align: center;
}
th:first-child {    
    width: 10%;
    text-align: right;
}

dd, dt {
    padding: 0;
}
dl {
    margin: 0;
    padding: 0;
    width: 100%;
}

.major-root {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.major-root, derived-root {
    background: var(--color2);
}

.derived-root {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: flex-start;
}
.derived-root:nth-child(odd) {
    background: var(--color3);
    
}
.derived-root:nth-child(odd):target {
    background: var(--hl-color);
    color: var(--color2);
}

.glossary-item--root {
    font-weight: bold;
}
 .glossary-item--gloss {
    font-style: italic;
    font-weight: normal;
}
p.glossary-item--gloss {
    padding: 0;
    margin: 0;
}
h2.glossary-item--gloss {
    margin-left: 1ch;
}
h1.glossary-item--root ?{
    margin-left: 1ch;
}
.glossary-item--header {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.table-wrapper {
    display: flex;
    flex-direction: column;
}
.has-derived {
}
.has-derived header {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
}


details {
    align-self: flex-start;
    margin: 0 0 0 2ch;
}
summary {
    
}

:target {
    background: var(--hl-color);
    color: var(--color2);
}
@media (min-width: 600px) {
    main {
	padding: 2ch;
    }
    section {
	max-width: 70ch;
    }
    .major-root {
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    table {
	width: calc(100% - 2ch);
	margin: auto 1ch;
    }    
}

